-- MySQL dump 10.13  Distrib 5.7.41, for Linux (x86_64)
--
-- Host: localhost    Database: DARKEDEN
-- ------------------------------------------------------
-- Server version	5.7.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Slayer`
--

DROP TABLE IF EXISTS `Slayer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Slayer` (
  `Race` enum('SLAYER','VAMPIRE','OUSTERS') NOT NULL DEFAULT 'SLAYER',
  `Name` varchar(10) NOT NULL DEFAULT '',
  `PlayerID` varchar(15) NOT NULL DEFAULT '',
  `Slot` enum('SLOT1','SLOT2','SLOT3') NOT NULL DEFAULT 'SLOT1',
  `ServerGroupID` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Active` enum('ACTIVE','INACTIVE') NOT NULL DEFAULT 'ACTIVE',
  `AdvancementClass` smallint(5) NOT NULL DEFAULT '0',
  `AdvancementGoalExp` int(5) NOT NULL DEFAULT '0',
  `Competence` tinyint(3) unsigned NOT NULL DEFAULT '3',
  `Sex` enum('MALE','FEMALE') DEFAULT NULL,
  `MasterEffectColor` smallint(5) NOT NULL DEFAULT '0',
  `HairStyle` enum('HAIR_STYLE1','HAIR_STYLE2','HAIR_STYLE3') DEFAULT NULL,
  `HairColor` smallint(6) NOT NULL DEFAULT '400',
  `SkinColor` smallint(6) NOT NULL DEFAULT '410',
  `Phone` varchar(7) NOT NULL DEFAULT '',
  `STR` smallint(5) unsigned NOT NULL DEFAULT '0',
  `STRExp` int(10) unsigned NOT NULL DEFAULT '0',
  `STRGoalExp` int(10) unsigned NOT NULL DEFAULT '10',
  `DEX` smallint(5) unsigned NOT NULL DEFAULT '0',
  `DEXExp` int(10) unsigned NOT NULL DEFAULT '0',
  `DEXGoalExp` int(10) unsigned NOT NULL DEFAULT '10',
  `INTE` smallint(5) unsigned NOT NULL DEFAULT '0',
  `INTExp` int(10) unsigned NOT NULL DEFAULT '0',
  `INTGoalExp` int(10) unsigned NOT NULL DEFAULT '10',
  `AdvancedSTR` smallint(5) NOT NULL DEFAULT '0',
  `AdvancedDEX` smallint(5) NOT NULL DEFAULT '0',
  `AdvancedINT` smallint(5) NOT NULL DEFAULT '0',
  `Bonus` smallint(5) NOT NULL DEFAULT '0',
  `HP` smallint(5) unsigned NOT NULL DEFAULT '0',
  `CurrentHP` smallint(5) unsigned NOT NULL DEFAULT '0',
  `MP` smallint(5) unsigned NOT NULL DEFAULT '0',
  `CurrentMP` smallint(5) unsigned NOT NULL DEFAULT '0',
  `Fame` int(10) unsigned NOT NULL DEFAULT '0',
  `Notoriety` int(10) unsigned NOT NULL DEFAULT '0',
  `Gold` int(10) unsigned NOT NULL DEFAULT '2000',
  `GuildID` int(10) unsigned NOT NULL DEFAULT '99',
  `BladeLevel` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `BladeExp` int(10) unsigned NOT NULL DEFAULT '0',
  `BladeGoalExp` int(10) unsigned NOT NULL DEFAULT '50',
  `SwordLevel` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `SwordExp` int(10) unsigned NOT NULL DEFAULT '1',
  `SwordGoalExp` int(10) unsigned NOT NULL DEFAULT '50',
  `GunLevel` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `GunExp` int(10) unsigned NOT NULL DEFAULT '0',
  `GunGoalExp` int(10) unsigned NOT NULL DEFAULT '40',
  `EnchantLevel` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `EnchantExp` int(10) unsigned NOT NULL DEFAULT '0',
  `EnchantGoalExp` int(10) unsigned NOT NULL DEFAULT '30',
  `HealLevel` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `HealExp` int(10) unsigned NOT NULL DEFAULT '0',
  `HealGoalExp` int(10) unsigned NOT NULL DEFAULT '30',
  `ETCLevel` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `ETCExp` int(10) unsigned NOT NULL DEFAULT '0',
  `ETCGoalExp` int(10) unsigned NOT NULL DEFAULT '1000000',
  `Rank` smallint(5) unsigned NOT NULL DEFAULT '0',
  `RankExp` int(10) unsigned NOT NULL DEFAULT '0',
  `RankGoalExp` int(10) unsigned NOT NULL DEFAULT '0',
  `ZoneID` smallint(5) unsigned NOT NULL DEFAULT '0',
  `XCoord` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `YCoord` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Sight` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `GunBonusExp` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `RifleBonusExp` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Alignment` int(10) NOT NULL DEFAULT '7500',
  `F9` smallint(6) NOT NULL DEFAULT '-1',
  `F10` smallint(6) NOT NULL DEFAULT '-1',
  `F11` smallint(6) NOT NULL DEFAULT '-1',
  `F12` smallint(6) NOT NULL DEFAULT '-1',
  `StashGold` int(10) unsigned NOT NULL DEFAULT '0',
  `StashNum` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `ResurrectZone` int(10) unsigned NOT NULL DEFAULT '0',
  `Shape` int(10) unsigned NOT NULL DEFAULT '0',
  `HelmetColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `JacketColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `PantsColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `WeaponColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `ShieldColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `CompetenceShape` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `Reward` tinyint(3) DEFAULT '0',
  `SMSCharge` int(10) NOT NULL DEFAULT '0',
  `LastPlayDate` date NOT NULL DEFAULT '0000-00-00',
  `creation_date` date DEFAULT NULL,
  PRIMARY KEY (`Name`),
  KEY `IDX_Slayer1` (`PlayerID`),
  KEY `IDX_Slayer2` (`Slot`),
  KEY `Slayer_m1` (`GuildID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Slayer`
--

LOCK TABLES `Slayer` WRITE;
/*!40000 ALTER TABLE `Slayer` DISABLE KEYS */;
/*!40000 ALTER TABLE `Slayer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Vampire`
--

DROP TABLE IF EXISTS `Vampire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Vampire` (
  `Name` varchar(10) NOT NULL DEFAULT '',
  `PlayerID` varchar(15) NOT NULL DEFAULT '',
  `Slot` enum('SLOT1','SLOT2','SLOT3') NOT NULL DEFAULT 'SLOT1',
  `ServerGroupID` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Active` enum('ACTIVE','INACTIVE') DEFAULT NULL,
  `AdvancementClass` smallint(5) NOT NULL DEFAULT '0',
  `AdvancementGoalExp` int(5) NOT NULL DEFAULT '0',
  `Sex` enum('MALE','FEMALE') NOT NULL DEFAULT 'MALE',
  `MasterEffectColor` smallint(5) NOT NULL DEFAULT '0',
  `BatColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `SkinColor` smallint(5) unsigned NOT NULL DEFAULT '410',
  `STR` smallint(5) unsigned NOT NULL DEFAULT '20',
  `DEX` smallint(5) unsigned NOT NULL DEFAULT '20',
  `INTE` smallint(5) unsigned NOT NULL DEFAULT '20',
  `HP` smallint(5) unsigned NOT NULL DEFAULT '100',
  `CurrentHP` smallint(5) unsigned NOT NULL DEFAULT '100',
  `Fame` int(10) unsigned NOT NULL DEFAULT '0',
  `Notoriety` int(10) unsigned NOT NULL DEFAULT '0',
  `Exp` int(10) unsigned NOT NULL DEFAULT '0',
  `GoalExp` int(10) unsigned NOT NULL DEFAULT '250',
  `ExpOffset` int(10) unsigned NOT NULL DEFAULT '0',
  `Level` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `Bonus` smallint(5) unsigned NOT NULL DEFAULT '0',
  `Rank` smallint(5) unsigned NOT NULL DEFAULT '0',
  `RankExp` int(10) unsigned NOT NULL DEFAULT '0',
  `RankGoalExp` int(10) unsigned NOT NULL DEFAULT '0',
  `Gold` int(10) unsigned DEFAULT '0',
  `GuildID` int(10) unsigned NOT NULL DEFAULT '0',
  `ZoneID` smallint(5) unsigned NOT NULL DEFAULT '0',
  `XCoord` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `YCoord` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Sight` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Alignment` int(10) NOT NULL DEFAULT '7500',
  `F5` smallint(6) NOT NULL DEFAULT '-1',
  `F6` smallint(6) NOT NULL DEFAULT '-1',
  `F7` smallint(6) NOT NULL DEFAULT '-1',
  `F8` smallint(6) NOT NULL DEFAULT '-1',
  `F9` smallint(6) NOT NULL DEFAULT '-1',
  `F10` smallint(6) NOT NULL DEFAULT '-1',
  `F11` smallint(6) NOT NULL DEFAULT '-1',
  `F12` smallint(6) NOT NULL DEFAULT '-1',
  `StashGold` int(10) unsigned NOT NULL DEFAULT '0',
  `StashNum` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Competence` tinyint(3) unsigned NOT NULL DEFAULT '3',
  `ResurrectZone` int(10) unsigned NOT NULL DEFAULT '0',
  `SilverDamage` int(10) unsigned NOT NULL DEFAULT '0',
  `Shape` int(10) unsigned NOT NULL DEFAULT '0',
  `CoatColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `CompetenceShape` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `RedistributeAttr` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Reward` tinyint(3) DEFAULT '0',
  `SMSCharge` int(10) NOT NULL DEFAULT '0',
  `LastPlayDate` date NOT NULL DEFAULT '0000-00-00',
  PRIMARY KEY (`Name`),
  KEY `IDX_Vampire1` (`PlayerID`),
  KEY `IDX_Vampire2` (`Slot`),
  KEY `Vampire_m1` (`GuildID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Vampire`
--

LOCK TABLES `Vampire` WRITE;
/*!40000 ALTER TABLE `Vampire` DISABLE KEYS */;
/*!40000 ALTER TABLE `Vampire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Ousters`
--

DROP TABLE IF EXISTS `Ousters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Ousters` (
  `Name` varchar(10) NOT NULL DEFAULT '',
  `PlayerID` varchar(15) NOT NULL DEFAULT '',
  `Slot` enum('SLOT1','SLOT2','SLOT3') NOT NULL DEFAULT 'SLOT1',
  `ServerGroupID` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Active` enum('ACTIVE','INACTIVE') DEFAULT NULL,
  `AdvancementClass` smallint(5) NOT NULL DEFAULT '0',
  `AdvancementGoalExp` int(5) NOT NULL DEFAULT '0',
  `Sex` enum('MALE','FEMALE') NOT NULL DEFAULT 'MALE',
  `MasterEffectColor` smallint(5) NOT NULL DEFAULT '0',
  `STR` smallint(5) unsigned NOT NULL DEFAULT '15',
  `DEX` smallint(5) unsigned NOT NULL DEFAULT '15',
  `INTE` smallint(5) unsigned NOT NULL DEFAULT '15',
  `HP` smallint(5) unsigned NOT NULL DEFAULT '100',
  `CurrentHP` smallint(5) unsigned NOT NULL DEFAULT '100',
  `MP` smallint(5) unsigned NOT NULL DEFAULT '100',
  `CurrentMP` smallint(5) unsigned NOT NULL DEFAULT '100',
  `Fame` int(10) unsigned NOT NULL DEFAULT '0',
  `Notoriety` int(10) unsigned NOT NULL DEFAULT '0',
  `Exp` int(10) unsigned NOT NULL DEFAULT '0',
  `GoalExp` int(10) unsigned NOT NULL DEFAULT '125',
  `ExpOffset` int(10) unsigned NOT NULL DEFAULT '0',
  `Level` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `Bonus` smallint(5) unsigned NOT NULL DEFAULT '0',
  `SkillBonus` smallint(5) unsigned NOT NULL DEFAULT '0',
  `Rank` smallint(5) unsigned NOT NULL DEFAULT '0',
  `RankExp` int(10) unsigned NOT NULL DEFAULT '0',
  `RankGoalExp` int(10) unsigned NOT NULL DEFAULT '0',
  `Gold` int(10) unsigned DEFAULT '0',
  `GuildID` int(10) unsigned NOT NULL DEFAULT '66',
  `ZoneID` smallint(5) unsigned NOT NULL DEFAULT '0',
  `XCoord` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `YCoord` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Sight` tinyint(3) unsigned NOT NULL DEFAULT '13',
  `Alignment` int(10) NOT NULL DEFAULT '7500',
  `StashGold` int(10) unsigned NOT NULL DEFAULT '0',
  `StashNum` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Competence` tinyint(3) unsigned NOT NULL DEFAULT '3',
  `ResurrectZone` int(10) unsigned NOT NULL DEFAULT '0',
  `SilverDamage` int(10) unsigned NOT NULL DEFAULT '0',
  `SMSCharge` int(10) NOT NULL DEFAULT '0',
  `LastPlayDate` date NOT NULL DEFAULT '0000-00-00',
  `CoatType` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `ArmType` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `CoatColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `HairColor` smallint(5) unsigned NOT NULL DEFAULT '400',
  `ArmColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `BootsColor` smallint(5) unsigned NOT NULL DEFAULT '0',
  `CompetenceShape` tinyint(3) unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`Name`),
  KEY `IDX_Ousters1` (`PlayerID`),
  KEY `IDX_Ousters2` (`Slot`),
  KEY `Ousters_m1` (`GuildID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Ousters`
--

LOCK TABLES `Ousters` WRITE;
/*!40000 ALTER TABLE `Ousters` DISABLE KEYS */;
INSERT INTO `Ousters` VALUES ('Mason','111111','SLOT2',0,'INACTIVE',100,0,'FEMALE',0,10,25,10,315,315,111,111,0,0,0,125,0,150,9999,9682,50,0,10700,101887611,66,1311,15,49,13,7500,0,0,0,0,0,0,'2021-02-28',1,1,377,101,377,0,1),('Rixyh','111111','SLOT2',0,'ACTIVE',0,0,'FEMALE',0,10,10,25,79,79,18,18,0,0,0,125,0,1,0,0,1,0,10700,500,66,1311,24,73,13,7500,0,0,3,0,0,0,'2026-04-26',0,1,377,327,377,0,1);
/*!40000 ALTER TABLE `Ousters` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-26 19:47:49
