-- MySQL dump 10.13  Distrib 5.7.41, for Linux (x86_64)
--
-- Host: localhost    Database: DARKEDEN
-- ------------------------------------------------------
-- Server version	5.7.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `NPC`
--

DROP TABLE IF EXISTS `NPC`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `NPC` (
  `Name` varchar(50) NOT NULL DEFAULT '',
  `NPCID` int(10) unsigned NOT NULL DEFAULT '0',
  `SpriteType` int(10) unsigned NOT NULL DEFAULT '0',
  `Race` int(10) unsigned NOT NULL DEFAULT '0',
  `MainColor` int(10) unsigned NOT NULL DEFAULT '0',
  `SubColor` int(10) unsigned NOT NULL DEFAULT '0',
  `ZoneID` int(10) unsigned NOT NULL DEFAULT '0',
  `ClanType` int(10) unsigned NOT NULL DEFAULT '0',
  `ShowInMinimap` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `Description` text NOT NULL,
  `TaxingCastleZoneID` int(10) unsigned NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `NPC`
--
-- WHERE:  Name IN ('Jack Z12 N16','Jack Z12 N109','Charon','Chain','Nicholas','Jack','Zack','Matthew','Terry','Nancy') OR OwnerID IN ('Jack Z12 N16','Jack Z12 N109','Charon','Chain','Nicholas','Jack','Zack','Matthew','Terry','Nancy') OR NPC IN ('Jack Z12 N16','Jack Z12 N109','Charon','Chain','Nicholas','Jack','Zack','Matthew','Terry','Nancy') OR TriggerID IN (88,314,400,440,501,508,779)

